.nodata_wrap {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #6d7471;
  min-width: 274px;
  width: 274px;
  background-color: transparent;
  border: 1px solid #c9d2ce;
  border-radius: 4px;
  height: fit-content;
  min-height: 484px;
}

.nodata_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  margin-top: 80px;
}
