.card_wrap {
  background: #ffffff;
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.05),
    inset 0px -2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 12px 21px 12px 12px;
  margin-top: 12px;
}

.card_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card_header-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #181a19;
}

.card_header-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6d7471;
  margin-top: 4px;
}

.card_status {
  background: #f6f2ff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #856ec6;
  padding: 4px 8px;
}

.card_statistic {
  background: #fafffc;
  border: 1px solid #ebf3ef;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #414644;
}

.card_middle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.card_footer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 13px;
}

.hr_job {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #969f9b;
}

.hr_name {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #414644;
}

.card_hr-img {
  width: 28px;
  height: 28px;
}
